/*Responsive*/
@keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75%, 100% {
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes menu-loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75%, 100% {
    opacity: 1;
  }
}
@keyframes accueil {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.entete {
  display: flex;
  margin-bottom: 7%;
  margin-top: 5%;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .entete {
    width: 100%;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .entete {
    margin-left: 6%;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .entete {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .entete {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width:1401px) {
  .entete {
    display: flex;
    justify-content: center;
  }
}
.entete__logo {
  display: flex;
  width: 60%;
  margin-left: 20%;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .entete__logo {
    width: 60%;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .entete__logo {
    width: 100%;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .entete__logo {
    width: 100%;
    margin-left: 1%;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .entete__logo {
    width: 100%;
    margin-left: 1%;
  }
}
@media only screen and (min-width:1401px) {
  .entete__logo {
    width: 100%;
    margin-left: 0%;
  }
}
.entete__icon {
  font-size: 21px;
  margin-left: 5%;
  margin-top: 2%;
  color: black;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .entete__icon {
    margin-top: 3%;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .entete__icon {
    margin-top: 4%;
    font-size: 32px;
    margin-left: 0%;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .entete__icon {
    font-size: 25px;
    margin-top: 3%;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px), only screen and (min-width:1401px) {
  .entete__icon {
    font-size: 35px;
    margin-left: 0%;
    margin-right: 5%;
    margin-top: 2%;
  }
}
@media only screen and (min-width:1401px) {
  .entete__icon {
    font-size: 35px;
    margin-left: 0%;
    margin-right: 5%;
    margin-top: 1.5%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #4d4d4d;
  font-family: "Roboto", sans-serif;
}

.footer__title {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 25px;
  margin-left: 5%;
  margin-bottom: 0%;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .footer__title {
    font-size: 30px;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .footer__title {
    font-size: 35px;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .footer__title {
    font-size: 40px;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px), only screen and (min-width:1401px) {
  .footer__title {
    font-size: 60px;
  }
}
.footer__content {
  display: flex;
  padding-left: 5%;
}
.footer__content--textes {
  color: white;
  font-size: 18px;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .footer__content--textes {
    font-size: 20px;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .footer__content--textes {
    font-size: 25px;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .footer__content--textes {
    font-size: 2rem;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px), only screen and (min-width:1401px) {
  .footer__content--textes {
    font-size: 30px;
  }
}
.footer__content--icons {
  display: flex;
  font-size: 15px;
  margin-top: 6%;
  margin-right: 2%;
  color: white;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .footer__content--icons {
    font-size: 20px;
    margin-top: 5.5%;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .footer__content--icons {
    font-size: 2rem;
    margin-top: 3%;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .footer__content--icons {
    font-size: 2rem;
    margin-top: 4%;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .footer__content--icons {
    font-size: 30px;
    margin-top: 3%;
  }
}
@media only screen and (min-width:1401px) {
  .footer__content--icons {
    font-size: 30px;
    margin-top: 2%;
  }
}

a:link {
  text-decoration: none;
}

.footertextes__menu {
  font-weight: bold;
}

.pagedaccueil {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  position: absolute;
  background-color: white;
  z-index: 1;
  animation: accueil 500ms 2000ms both ease-in-out;
}

.locatisation {
  display: flex;
  justify-content: center;
  /*box-shadow: 2px 2px 2px 2px $grise;*/
  background-color: #eaeaea;
  margin-bottom: 15%;
}
.locatisation__icon {
  display: flex;
  padding-top: 7%;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .locatisation__icon {
    padding-top: 7%;
    margin-right: -6%;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .locatisation__icon {
    padding-top: 4%;
    margin-left: 5%;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .locatisation__icon {
    padding-top: 4%;
    margin-left: 23.6%;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .locatisation__icon {
    padding-top: 4%;
    margin-left: 240px;
  }
}
@media only screen and (min-width:1401px) {
  .locatisation__icon {
    padding-top: 3%;
    margin-left: 28%;
  }
}
.locatisation__icon--fas {
  font-size: 1.5rem;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .locatisation__icon--fas {
    margin-top: -2%;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .locatisation__icon--fas {
    font-size: 2rem;
    margin-top: 6px;
    margin-left: -33px;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .locatisation__icon--fas {
    font-size: 40px;
    margin-top: 2px;
    margin-left: -92px;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .locatisation__icon--fas {
    font-size: 40px;
  }
}
@media only screen and (min-width:1401px) {
  .locatisation__icon--fas {
    font-size: 40px;
  }
}
.locatisation__texte {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  width: 50%;
  margin-left: 5%;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .locatisation__texte {
    padding-left: 6%;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .locatisation__texte {
    font-size: 2rem;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .locatisation__texte {
    font-size: 40px;
    margin-left: -4%;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .locatisation__texte {
    font-size: 40px;
  }
}
@media only screen and (min-width:1401px) {
  .locatisation__texte {
    font-size: 40px;
    margin-left: 3%;
  }
}

.exploration {
  background-color: #f7f7f7;
  margin-top: -15%;
}
.exploration__titre {
  text-align: center;
  font-size: 28px;
  padding-top: 8%;
  width: 80%;
  margin-left: 10%;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .exploration__titre {
    font-size: 31px;
    padding-top: 0%;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .exploration__titre {
    font-size: 35px;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .exploration__titre {
    font-size: 50px;
    text-align: center;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .exploration__titre {
    font-size: 50px;
    text-align: center;
  }
}
@media only screen and (min-width:1401px) {
  .exploration__titre {
    font-size: 50px;
    text-align: center;
  }
}
.exploration__texte {
  text-align: center;
  font-size: 18px;
  width: 90%;
  margin-left: 5%;
  margin-top: 10%;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .exploration__texte {
    font-size: 20px;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .exploration__texte {
    font-size: 33px;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .exploration__texte {
    font-size: 40px;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .exploration__texte {
    font-size: 50px;
  }
}
@media only screen and (min-width:1401px) {
  .exploration__texte {
    font-size: 50px;
    width: 70%;
    padding-left: 10%;
  }
}
.exploration__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  font-size: 16px;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 15%;
  padding: 5%;
  background-image: linear-gradient(to bottom, #ff79da, #7f22bd);
  border-radius: 55px;
  border: none;
  color: white;
}
.exploration__btn:hover {
  background-image: linear-gradient(to bottom, #ff79da 60%, #af62e3);
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .exploration__btn {
    font-size: 18px;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .exploration__btn {
    font-size: 29px;
    padding: 4%;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .exploration__btn {
    font-size: 35px;
    padding: 4%;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .exploration__btn {
    width: 50%;
    margin-left: 25%;
    font-size: 35px;
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 9%;
  }
}
@media only screen and (min-width:1401px) {
  .exploration__btn {
    width: 50%;
    margin-left: 25%;
    font-size: 35px;
    padding: 2.5%;
    margin-top: 3%;
    margin-bottom: 8%;
  }
}

@media only screen and (min-width:600px) and (max-width:900px) {
  .fonctionnement {
    width: 90%;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
  }
}
@media only screen and (min-width:1401px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
  }
}
.fonctionnement__titre {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-left: 5%;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .fonctionnement__titre {
    font-size: 25px;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .fonctionnement__titre {
    font-size: 30px;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px), only screen and (min-width:1100px) and (max-width:1400px), only screen and (min-width:1401px) {
  .fonctionnement__titre {
    font-size: 40px;
    text-align: center;
  }
}
.fonctionnement__btn {
  display: flex;
  width: 85%;
  border-radius: 20px;
  background-color: #f7f7f7;
  margin-left: 10%;
  border: none;
  margin-bottom: 10%;
  display: flex;
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .fonctionnement__btn {
    padding-left: 12%;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px), only screen and (min-width:1401px) {
  .fonctionnement__btn {
    display: flex;
    width: 70%;
    margin: 2%;
    margin-bottom: 5%;
  }
}
.fonctionnement__btn:hover {
  background-color: #e0d8e8;
}
.fonctionnement__btn--nombre {
  font-family: "Roboto", sans-serif;
  background-color: #8867a6;
  color: white;
  height: 10%;
  border-radius: 50px;
  padding: 4px 9px;
  margin-left: -5%;
  margin-top: 6%;
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .fonctionnement__btn--nombre {
    padding: 10px 14px;
    margin-left: -7%;
    margin-top: 5%;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .fonctionnement__btn--nombre {
    border-radius: 50px;
    padding: 10px 14px;
    margin-left: -19%;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .fonctionnement__btn--nombre {
    padding: 16px 15px;
    margin-left: -10%;
    margin-top: 7%;
  }
}
@media only screen and (min-width:1401px) {
  .fonctionnement__btn--nombre {
    padding: 18px 19px;
    margin-left: -5%;
    margin-top: 7%;
  }
}
.fonctionnement__btn--fas {
  width: 10%;
  margin-top: 2%;
  font-size: 22px;
  margin-top: 7%;
  margin-right: 2%;
  margin-right: 5%;
  margin-left: 5%;
  color: gray;
}
.fonctionnement__btn--fas:hover {
  color: #8867a6;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .fonctionnement__btn--fas {
    font-size: 25px;
    margin-top: 7%;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .fonctionnement__btn--fas {
    font-size: 2rem;
    margin-top: 5%;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .fonctionnement__btn--fas {
    font-size: 2rem;
    margin-top: 7%;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .fonctionnement__btn--fas {
    font-size: 25px;
    margin-top: 9%;
  }
}
@media only screen and (min-width:1401px) {
  .fonctionnement__btn--fas {
    font-size: 30px;
    margin-top: 9%;
  }
}
.fonctionnement__btn--texte {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .fonctionnement__btn--texte {
    font-size: 18px;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .fonctionnement__btn--texte {
    font-size: 25px;
    margin-top: 5%;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .fonctionnement__btn--texte {
    font-size: 30px;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .fonctionnement__btn--texte {
    font-size: 17px;
    margin-top: 10%;
  }
}
@media only screen and (min-width:1401px) {
  .fonctionnement__btn--texte {
    font-size: 22px;
    margin-top: 9%;
  }
}

@media only screen and (min-width:1100px) and (max-width:1400px), only screen and (min-width:1401px) {
  .allbtn {
    display: flex;
    margin-bottom: 3%;
  }
}

a:link {
  text-decoration: none;
  color: black;
}

.restaurant__title {
  margin-left: 5%;
  margin-top: 7%;
  font-family: "Roboto", sans-serif;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .restaurant__title {
    font-size: 25px;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .restaurant__title {
    font-size: 30px;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px), only screen and (min-width:1100px) and (max-width:1400px), only screen and (min-width:1401px) {
  .restaurant__title {
    font-size: 40px;
  }
}

.restaurant {
  width: 100%;
  background-color: #f7f7f7;
  padding-bottom: 10%;
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .restaurant__cards {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .restaurant__cards {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (min-width:1401px) {
  .restaurant__cards {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
.restaurant__card {
  width: 90%;
  padding-left: 5%;
  margin-top: 10%;
}
.restaurant__card--image {
  display: flex;
  width: 100%;
}
.restaurant__card--bull {
  font-family: "Roboto", sans-serif;
  background-color: #99E2D0;
  padding: 3%;
  padding-right: 3%;
  padding-left: 3%;
  height: 9%;
  font-size: 90%;
  margin-left: -32%;
  margin-top: 5%;
  border-radius: 3px;
  padding-left: 5%;
  padding-right: 5%;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .restaurant__card--bull {
    font-size: 100%;
    padding: 4% 5%;
    margin-left: -34%;
    margin-top: 10%;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .restaurant__card--bull {
    font-size: 17px;
    margin-left: -30%;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .restaurant__card--bull {
    font-size: 20px;
    margin-left: -35%;
    margin-top: 5%;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .restaurant__card--bull {
    font-size: 100%;
    margin-left: -27%;
    margin-top: 4%;
  }
}
@media only screen and (min-width:1401px) {
  .restaurant__card--bull {
    font-size: 25px;
    margin-left: -31%;
    margin-top: 3%;
  }
}
.restaurant__card--img {
  width: 100%;
  height: 9rem;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .restaurant__card--img {
    height: 11rem;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .restaurant__card--img {
    height: 25rem;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .restaurant__card--img {
    height: 18rem;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .restaurant__card--img {
    height: 23rem;
  }
}
@media only screen and (min-width:1401px) {
  .restaurant__card--img {
    height: 29rem;
  }
}
.restaurant__card--content {
  display: flex;
  background-color: white;
  text-decoration: none;
  margin-top: -1%;
  margin-bottom: 5%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-content {
  /*--icons{

      &:hover {
          transform: scale(0);
          .motema{
              transform: scale(1);

          }        

      }        


          .motema{
              display: none;
              font-family: 'font Awesome 5 free';
              content: '\f004';
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              color: transparent;
              color: $voiletrosatre;
              z-index: -1;
              transform: scale(0);                 
              animation: heart 1000ms both;            

          }*/
  /* &:hover{
       color: $primaire;
       font-family: 'font Awesome 5 free';
       content: '';
   }*/
  /*@media only screen and (min-width:376px) and (max-width:599px) {
          margin-top: 7%;
      }
      @media only screen and (min-width:600px) and (max-width:900px){
          font-size: 2.5rem;
      }
      @media only screen and (min-width:901px) and (max-width:1099px) {
          font-size: 2rem;
      }
      @media only screen and (min-width:1100px) and (max-width:1400px),only screen and (min-width:1401px){
          font-size: 2.5rem;
      }
  }*/
}
.card-content--textes {
  margin-left: 4%;
  font-size: 15px;
  width: 80%;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .card-content--textes {
    width: 80%;
    font-size: 18px;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .card-content--textes {
    font-size: 25px;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .card-content--textes {
    font-size: 20px;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px), only screen and (min-width:1401px) {
  .card-content--textes {
    font-size: 23px;
  }
}

/*.card-content--textes>h3{
    margin-bottom: -5%;
    font-family: $roboto;
}

.card-content--textes>p{
    margin-bottom: 10%;
}

.restaurant__card--content{
    color: $couleurNoire;
}

.motema{
    color: $voiletrosatre;
}*/
.card-content--icons {
  font-size: 25px;
  margin-top: 6%;
  position: relative;
}
.card-content--icons:hover > .card-content--icons--bg {
  transform: scale(1);
  color: #c73cd6;
  transition: transform 1000ms;
}
.card-content--icons:hover > .card-content--icons--nobg {
  color: transparent;
  transition: 650ms;
}
.card-content--icons--nobg {
  color: black;
  position: absolute;
}
.card-content--icons--bg {
  transform: scale(0);
  color: transparent;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.loader__boule {
  animation: loader 500ms ease-in-out infinite 750ms;
}

.loader__boule--1 {
  width: 50px;
  height: 50px;
  background-color: #ff00b3;
  border-radius: 50px;
  margin-right: 2%;
  opacity: 0;
  animation-delay: 500ms;
}

.loader__boule--2 {
  width: 50px;
  height: 50px;
  background-color: #0084ff;
  border-radius: 50px;
  margin-right: 2%;
  opacity: 0;
  animation-delay: 600ms;
}

.loader__boule--3 {
  width: 50px;
  height: 50px;
  background-color: #ff6600;
  border-radius: 50px;
  margin-right: 2%;
  opacity: 0;
  animation-delay: 700ms;
}

.loader__boule--3 {
  width: 50px;
  height: 50px;
  background-color: #ff6600;
  border-radius: 50px;
  margin-right: 2%;
  opacity: 0;
  animation-delay: 800ms;
}

.loader__boule--4 {
  width: 50px;
  height: 50px;
  background-color: #00ffb3;
  border-radius: 50px;
  margin-right: 2%;
  opacity: 0;
  animation-delay: 900ms;
}

.loader__boule--5 {
  width: 50px;
  height: 50px;
  background-color: #ff0015;
  border-radius: 50px;
  margin-right: 2%;
  opacity: 0;
  animation-delay: 1000ms;
}

.mainmenu {
  margin: 0%;
}

.cardalafrancaise {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cardentete {
  width: 100%;
}
.cardentete__img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .cardentete__img {
    height: 28rem;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .cardentete__img {
    height: 30rem;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .cardentete__img {
    height: 50rem;
  }
}
@media only screen and (min-width:1401px), only screen and (min-width:1100px) and (max-width:1400px) {
  .cardentete__img {
    height: 73rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -15%;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .main {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .main {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .main {
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
  }
}
@media only screen and (min-width:1401px), only screen and (min-width:1100px) and (max-width:1400px) {
  .main {
    border-top-left-radius: 78px;
    border-top-right-radius: 78px;
  }
}
.main__entete {
  display: flex;
  width: 100%;
}
.main__entete--title {
  font-family: "Shrikhand", cursive;
  margin-top: -7%;
  padding-top: 15%;
  padding-left: 4%;
  font-size: 24px;
  width: 80%;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .main__entete--title {
    font-size: 25px;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .main__entete--title {
    font-size: 30px;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .main__entete--title {
    font-size: 40px;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .main__entete--title {
    font-size: 45px;
  }
}
@media only screen and (min-width:1401px) {
  .main__entete--title {
    font-size: 50px;
  }
}
.main__entete--icons {
  font-size: 24px;
  margin-top: 9%;
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .main__entete--icons {
    font-size: 25px;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .main__entete--icons {
    font-size: 30px;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .main__entete--icons {
    font-size: 40px;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .main__entete--icons {
    font-size: 45px;
  }
}
@media only screen and (min-width:1401px) {
  .main__entete--icons {
    font-size: 50px;
  }
}

.menu__price {
  display: flex;
  z-index: 1;
  width: 15%;
}
.menu__title {
  margin-left: 3%;
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .menu__title {
    font-size: 13px;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .menu__title {
    font-size: 23px;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .menu__title {
    font-size: 26px;
  }
}
@media only screen and (min-width:1401px) {
  .menu__title {
    font-size: 28px;
  }
}
.menu__border {
  border: 3px solid #99E2D0;
  width: 12%;
  margin-left: 3%;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .menu__border {
    width: 8%;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .menu__border {
    width: 9%;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px), only screen and (min-width:1100px) and (max-width:1400px) {
  .menu__border {
    width: 6%;
  }
}
@media only screen and (min-width:1401px) {
  .menu__border {
    width: 5%;
  }
}
.menu__content {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 85%;
  margin-left: 3%;
  border-radius: 20px;
}
.menu__content--title {
  font-size: 15px;
  font-weight: bolder;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .menu__content--title {
    font-size: 18px;
    padding-top: 3%;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .menu__content--title {
    font-size: 20px;
    padding-top: 0%;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .menu__content--title {
    font-size: 23px;
    padding-top: 0%;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .menu__content--title {
    font-size: 27px;
    padding-top: 2%;
  }
}
@media only screen and (min-width:1401px) {
  .menu__content--title {
    font-size: 30px;
    padding-top: 1%;
  }
}
.menu__content--textes {
  display: flex;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .menu__content--textes {
    margin-top: -4%;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .menu__content--textes {
    margin-top: -5%;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .menu__content--textes {
    margin-top: -5%;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .menu__content--textes {
    margin-top: -3%;
  }
}
@media only screen and (min-width:1401px) {
  .menu__content--textes {
    margin-top: -3%;
  }
}
.menu__content--texte {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .menu__content--texte {
    font-size: 15px;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .menu__content--texte {
    font-size: 18px;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .menu__content--texte {
    font-size: 21px;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .menu__content--texte {
    font-size: 25px;
  }
}
@media only screen and (min-width:1401px) {
  .menu__content--texte {
    font-size: 30px;
  }
}
.menu__content--prix {
  margin-right: 2%;
  font-weight: bold;
  margin-top: 48px;
  font-size: 13px;
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .menu__content--prix {
    font-size: 14px;
    margin-top: 57px;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .menu__content--prix {
    font-size: 20px;
    padding-top: 3px;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .menu__content--prix {
    font-size: 20px;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .menu__content--prix {
    font-size: 25px;
  }
}
@media only screen and (min-width:1401px) {
  .menu__content--prix {
    font-size: 30px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  font-size: 16px;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 15%;
  padding: 5%;
  background-image: linear-gradient(to bottom, #ff79da, #7f22bd);
  border-radius: 55px;
  border: none;
  color: white;
  width: 60%;
  margin-left: 20%;
}
.btn:hover {
  background-image: linear-gradient(to bottom, #ff79da 60%, #af62e3);
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .btn {
    font-size: 18px;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .btn {
    font-size: 29px;
    padding: 4%;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .btn {
    font-size: 35px;
    padding: 4%;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .btn {
    width: 50%;
    margin-left: 25%;
    font-size: 35px;
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 9%;
  }
}
@media only screen and (min-width:1401px) {
  .btn {
    width: 50%;
    margin-left: 25%;
    font-size: 35px;
    padding: 2.5%;
    margin-top: 3%;
    margin-bottom: 8%;
  }
}

.groupemenu {
  display: flex;
  border-radius: 20px;
  background-color: white;
  width: calc(100% - 30px);
  height: 75px;
  margin-left: 10px;
  margin-bottom: 5%;
  animation: menu-loading 1000ms both ease-in-out 180ms;
}
.groupemenu--1 {
  animation-delay: 1000ms;
}
.groupemenu--2 {
  animation-delay: 2000ms;
}
.groupemenu--3 {
  animation-delay: 3000ms;
}
.groupemenu--4 {
  animation-delay: 4000ms;
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .groupemenu {
    width: calc(100% - 50px);
    height: 85px;
    margin-left: 25px;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .groupemenu {
    width: calc(100% - 90px);
    margin-left: 40px;
    height: 100px;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .groupemenu {
    width: calc(100% - 80px);
    height: 100px;
    margin-left: 40px;
  }
}
@media only screen and (min-width:1401px) {
  .groupemenu {
    width: calc(100% - 200px);
    height: 120px;
    margin-left: 3%;
    margin-bottom: 3%;
  }
}
.groupemenu:hover {
  background-color: transparent;
}
.groupemenu:hover > .groupemenu__checkbox {
  width: 30%;
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .groupemenu:hover > .groupemenu__checkbox {
    width: 30%;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px), only screen and (min-width:1100px) and (max-width:1400px), only screen and (min-width:1401px) {
  .groupemenu:hover > .groupemenu__checkbox {
    width: 30%;
  }
}
.groupemenu:hover > .groupemenu__textes {
  width: calc(100% - 100px);
}
.groupemenu:hover > .groupemenu__prix {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.groupemenu__textes {
  width: calc(100% - 50px);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: white;
  transition: 200ms;
}
@media only screen and (min-width:1100px) and (max-width:1400px) {
  .groupemenu__textes {
    padding-top: 15px;
  }
}
@media only screen and (min-width:1401px) {
  .groupemenu__textes {
    padding-top: 25px;
  }
}
.groupemenu__prix {
  display: flex;
  align-items: last baseline;
  padding-bottom: 18px;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 80px;
  z-index: 1;
  font-size: 12px;
  font-weight: bold;
}
@media only screen and (min-width: 331px) and (max-width:375px) {
  .groupemenu__prix {
    font-size: 15px;
    padding-bottom: 11px;
  }
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .groupemenu__prix {
    font-size: 15px;
    padding-bottom: 11px;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .groupemenu__prix {
    padding-bottom: 20px;
    font-size: 22px;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .groupemenu__prix {
    font-size: 22px;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px), only screen and (min-width:1401px) {
  .groupemenu__prix {
    padding-bottom: 10px;
    font-size: 25px;
  }
}
.groupemenu__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px;
  background-color: #99E2D0;
  font-size: 25px;
  color: white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  transition: 300ms ease-in-out;
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .groupemenu__checkbox {
    font-size: 40px;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px), only screen and (min-width:1401px) {
  .groupemenu__checkbox {
    font-size: 40px;
  }
}

.checkfas {
  display: flex;
  margin-left: -25px;
  transform: rotate(-180deg);
  transition: 1000ms ease-in-out;
}
@media only screen and (min-width:901px) and (max-width:1099px), only screen and (min-width:1100px) and (max-width:1400px), only screen and (min-width:1401px) {
  .checkfas {
    margin-left: -45px;
  }
}

.groupemenu:hover .checkfas {
  transform: rotate(0deg);
  transition: 500ms ease-in;
  margin-left: 0%;
}

.groupemenu__textes--title,
.groupemenu__textes--description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 10px;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 12px;
  padding-top: 13px;
}
@media only screen and (min-width: 331px) and (max-width:375px) {
  .groupemenu__textes--title,
.groupemenu__textes--description {
    font-size: 15px;
    padding-top: 15px;
  }
}
@media only screen and (min-width:376px) and (max-width:599px) {
  .groupemenu__textes--title,
.groupemenu__textes--description {
    font-size: 16px;
  }
}
@media only screen and (min-width:600px) and (max-width:900px) {
  .groupemenu__textes--title,
.groupemenu__textes--description {
    margin-left: 20px;
    padding-top: 10px;
    font-size: 18px;
  }
}
@media only screen and (min-width:901px) and (max-width:1099px) {
  .groupemenu__textes--title,
.groupemenu__textes--description {
    margin-left: 20px;
    padding-top: 5px;
    font-size: 22px;
  }
}
@media only screen and (min-width:1100px) and (max-width:1400px), only screen and (min-width:1401px) {
  .groupemenu__textes--title,
.groupemenu__textes--description {
    margin-left: 20px;
    padding-top: 4px;
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
