.menu{
    width: 90%;
    margin-left: 5%;
}

.cardalafrancaise{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardentete{
    width:100%;
    &__img{
        width:100%;
        height: 16rem;
        object-fit: cover;
        @media #{$mobile}{
            height: 28rem;
        }
        @media #{$tablette}{
            height: 30rem;
        }
        @media #{$desktop}{
            height: 50rem;
        }
        @media #{$lgdesktop},#{$interdesktop} {
            height: 73rem;
        }
    }
}

.main{
    display: flex;
    flex-direction: column;
    background-color: $grise;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -15%;
    @media #{$mobile}{
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    @media #{$tablette}{
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
    }
    @media #{$desktop}{
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
    }
    @media #{$lgdesktop},#{$interdesktop} {
        border-top-left-radius: 78px;
        border-top-right-radius: 78px;
    }
    &__entete{
        display: flex;
        width: 100%;
        &--title{
            font-family: $Shrikhand;
            margin-top: -7%;
            padding-top: 15%;
            padding-left: 4%;
            font-size: 24px;
            width: 80%;
            @media #{$mobile}{
                font-size: 25px;
            }
            @media #{$tablette}{
                font-size: 30px;
            }
            @media #{$desktop}{
                font-size: 40px;
            }
            @media #{$interdesktop}{
                font-size: 45px;
            }
            @media #{$lgdesktop}{
                font-size: 50px;
            }
        }
        &--icons{
            font-size: 24px;
            margin-top: 9%;
            @media #{$tablette}{
                font-size: 25px;
            }
            @media #{$tablette}{
                font-size: 30px;
            }
            @media #{$desktop}{
                font-size: 40px;
            }
            @media #{$interdesktop}{
                font-size: 45px;
            }
            @media #{$lgdesktop}{
                font-size: 50px;
            }
        }
    }
}

.menugroupe{
    display: flex;
    width: 90%;
    height: 84.8px;
    margin-bottom: 4%;
    border-radius: 20px; 
    background-color: $couleurBlanche; 
    opacity: 0;
    animation: menu-loading $anim-dur both ease-in-out random(100)*15ms;
    @for $i from 1 through 4 {
        &--#{$i} {
            animation-delay: $anim-dur * $i;
        }
    }    
    &:hover{        
        > .checkbox{
            padding-left: 20%;
            width: 20%;
            transform: translateX(25px);
            @media #{$desktop}{
                padding-left: 10%;
            }

            @media #{$interdesktop}{
                padding-left: 10%;                
            }
            @media #{$lgdesktop}{
                padding-left: 5%;
            }
                                
        }         
        span{
            opacity: 1;
            transform: rotate(0deg);
            transition: transform 330ms 200ms ease-in-out ;
        }

        .menu__price {
            width: 5%;
        }

        /*.menu__content--texte {
            text-overflow: ellipsis;
            overflow: hidden;
        }*/
        /*.menu__content--title{            
            text-overflow: ellipsis;
        } */ 
    }
    @media #{$mobile}{
        height: 87.8px;
    }

    @media #{$tablette}{
        height: 86px; 
    }

    @media #{$desktop}{
        height: 84px;
    }

    @media #{$interdesktop}{
        height: 143px;
    }

    @media #{$lgdesktop}{
        height: 86%;
    }
}

.menu{

    &__price{
        display: flex;
        z-index: 1;
        width: 15%;
    }
   
    &__title{
        margin-left: 3%;
        /*white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;*/
        @media #{$tablette}{
            font-size: 13px;
        } 
        @media #{$desktop}{
            font-size: 23px;
        }
        @media #{$interdesktop}{
            font-size: 26px;
        }
        @media #{$lgdesktop}{
            font-size: 28px;
        }

    }
    &__border{
        border:3px solid $tertiaire;
        width: 12%;
        margin-left: 3%;
        @media #{$mobile}{
            width: 8%;
        }
        @media #{$tablette}{
            width: 9%;
        }
        @media #{$desktop},#{$interdesktop} {
            width: 6%;
        }
        @media #{$lgdesktop}{
            width: 5%;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        background-color: $couleurBlanche;
        width: 85%;
        margin-left: 3%;
        border-radius: 20px;   
        &--title{
            font-size: 15px;
            font-weight: bolder;
            @media #{$mobile}{
                font-size: 18px;
                padding-top: 3%;
            }
            @media #{$tablette}{
                font-size: 20px;
                padding-top: 0%;
            }
            @media #{$desktop}{
                font-size: 23px;
                padding-top: 0%;
            }

            @media #{$interdesktop} {
                font-size: 27px;
                padding-top: 2%;
            }
            @media #{$lgdesktop} {
                font-size: 30px;
                padding-top: 1%;
            }
        }
        &--textes{
            display: flex;
            @media #{$mobile}{
                margin-top: -4%;
            } 
            @media #{$tablette}{
                margin-top: -5%;
            }
            @media #{$desktop}{
                margin-top: -5%;
            } 
            @media #{$interdesktop}{
                margin-top: -3%;
            }  
            @media #{$lgdesktop}{
                margin-top: -3%;
            }           
        }
        &--texte{
            font-family: $roboto;
            font-size: 13px;
            @media #{$mobile}{
                font-size: 15px;
            }
            @media #{$tablette}{
                font-size: 18px;
            }
            @media #{$desktop}{
                font-size: 21px;
            }

            @media #{$interdesktop}{
                font-size: 25px;
            }

            @media #{$lgdesktop}{
                font-size: 30px;
                //padding-top: 80px; 
            }
        }
        &--prix{
            margin-right: 2%;
            font-weight: bold;
            margin-top: 48px;
            font-size: 13px;
            @media #{$mobile}{
                font-size: 14px;
                margin-top: 57px;
            }
            @media #{$tablette}{
                font-size: 20px;
                padding-top: 3px;
            }
            @media #{$desktop}{
                font-size: 20px;
            }
            @media #{$interdesktop} {
                font-size: 25px;
            } 
            @media #{$lgdesktop}{
                font-size: 30px;
            } 
        }
    }
}

.checkbox{
    font-size: 25px;
    background-color: $tertiaire;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    height: 5.3rem;
    border-bottom-right-radius: 20px; 
    border-top-right-radius: 20px;
    transform: translateX(0px);     
    transition: all 300ms ease-in-out; 
    span{
        transform: rotate(-180deg);
        margin-left: -70px;       
    }
    @media #{$tablette}{
        font-size: 40px;
    }
    
    @media #{$desktop}{
        font-size: 40px;
    }
    @media #{$interdesktop}{
        font-size: 50px;
        height: 9rem;
    }
    @media #{$lgdesktop}{
        font-size: 65px;
        height: 9rem;
    }
}


.btn{
    @include btnExploration ;
    width: 60%;
    margin-left: 20%;
}
