.mainmenu{
    width: 90%;
    margin-left: 5%;
}

.cardalafrancaise{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardentete{
    width:100%;
    &__img{
        width:100%;
        height: 16rem;
        object-fit: cover;
        @media #{$mobile}{
            height: 28rem;
        }
        @media #{$tablette}{
            height: 30rem;
        }
        @media #{$desktop}{
            height: 50rem;
        }
        @media #{$lgdesktop},#{$interdesktop} {
            height: 73rem;
        }
    }
}

.main{
    display: flex;
    flex-direction: column;
    background-color: $grise;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -15%;
    @media #{$mobile}{
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    @media #{$tablette}{
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
    }
    @media #{$desktop}{
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
    }
    @media #{$lgdesktop},#{$interdesktop} {
        border-top-left-radius: 78px;
        border-top-right-radius: 78px;
    }
    &__entete{
        display: flex;
        width: 100%;
        &--title{
            font-family: $Shrikhand;
            margin-top: -7%;
            padding-top: 15%;
            padding-left: 4%;
            font-size: 24px;
            width: 80%;
            @media #{$mobile}{
                font-size: 25px;
            }
            @media #{$tablette}{
                font-size: 30px;
            }
            @media #{$desktop}{
                font-size: 40px;
            }
            @media #{$interdesktop}{
                font-size: 45px;
            }
            @media #{$lgdesktop}{
                font-size: 50px;
            }
        }
        &--icons{
            font-size: 24px;
            margin-top: 9%;
            @media #{$tablette}{
                font-size: 25px;
            }
            @media #{$tablette}{
                font-size: 30px;
            }
            @media #{$desktop}{
                font-size: 40px;
            }
            @media #{$interdesktop}{
                font-size: 45px;
            }
            @media #{$lgdesktop}{
                font-size: 50px;
            }
        }
    }
}

.menu{ 
    //margin-bottom: 10%;
    &__price{
        display: flex;
        z-index: 1;
        width: 15%;
    }
   
    &__title{
        margin-left: 3%;
        /*white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;*/
        @media #{$tablette}{
            font-size: 13px;
        } 
        @media #{$desktop}{
            font-size: 23px;
        }
        @media #{$interdesktop}{
            font-size: 26px;
        }
        @media #{$lgdesktop}{
            font-size: 28px;
        }

    }
    &__border{
        border:3px solid $tertiaire;
        width: 12%;
        margin-left: 3%;
        @media #{$mobile}{
            width: 8%;
        }
        @media #{$tablette}{
            width: 9%;
        }
        @media #{$desktop},#{$interdesktop} {
            width: 6%;
        }
        @media #{$lgdesktop}{
            width: 5%;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        background-color: $couleurBlanche;
        width: 85%;
        margin-left: 3%;
        border-radius: 20px;   
        &--title{
            font-size: 15px;
            font-weight: bolder;
            @media #{$mobile}{
                font-size: 18px;
                padding-top: 3%;
            }
            @media #{$tablette}{
                font-size: 20px;
                padding-top: 0%;
            }
            @media #{$desktop}{
                font-size: 23px;
                padding-top: 0%;
            }

            @media #{$interdesktop} {
                font-size: 27px;
                padding-top: 2%;
            }
            @media #{$lgdesktop} {
                font-size: 30px;
                padding-top: 1%;
            }
        }
        &--textes{
            display: flex;
            @media #{$mobile}{
                margin-top: -4%;
            } 
            @media #{$tablette}{
                margin-top: -5%;
            }
            @media #{$desktop}{
                margin-top: -5%;
            } 
            @media #{$interdesktop}{
                margin-top: -3%;
            }  
            @media #{$lgdesktop}{
                margin-top: -3%;
            }           
        }
        &--texte{
            font-family: $roboto;
            font-size: 13px;
            @media #{$mobile}{
                font-size: 15px;
            }
            @media #{$tablette}{
                font-size: 18px;
            }
            @media #{$desktop}{
                font-size: 21px;
            }

            @media #{$interdesktop}{
                font-size: 25px;
            }

            @media #{$lgdesktop}{
                font-size: 30px;
                //padding-top: 80px; 
            }
        }
        &--prix{
            margin-right: 2%;
            font-weight: bold;
            margin-top: 48px;
            font-size: 13px;
            @media #{$mobile}{
                font-size: 14px;
                margin-top: 57px;
            }
            @media #{$tablette}{
                font-size: 20px;
                padding-top: 3px;
            }
            @media #{$desktop}{
                font-size: 20px;
            }
            @media #{$interdesktop} {
                font-size: 25px;
            } 
            @media #{$lgdesktop}{
                font-size: 30px;
            } 
        }
    }
}

.btn{
    @include btnExploration ;
    width: 60%;
    margin-left: 20%;
}

.groupemenu{
    display: flex;
    border-radius: 20px;
    background-color: $couleurBlanche;
    width: calc(100% - 30px);
    height: 75px;
    margin-left: 10px;
    margin-bottom: 5%;
    animation: menu-loading $anim-dur both ease-in-out random(100)*15ms;
    @for $i from 1 through 4 {
        &--#{$i} {
            animation-delay: $anim-dur * $i;
        }
    } 
    @media #{$tablette}{
        width: calc(100% - 50px);
        height: 85px;
        margin-left: 25px;
    }
    @media #{$desktop}{
        width: calc(100% - 90px);
        margin-left: 40px;
        height: 100px;
    }

    @media #{$interdesktop}{
        width: calc(100% - 80px);
        height: 100px;
        margin-left: 40px;
    }

    @media #{$lgdesktop}{
        width: calc(100% - 200px);
        height: 120px;
        margin-left: 3%;
        margin-bottom: 3%;
    }
    &:hover{
        background-color: transparent;
        >.groupemenu__checkbox {
            width: 30%;
            @media #{$tablette}{
                width: 30%;
            }
            @media #{$desktop}, #{$interdesktop}, #{$lgdesktop}{
                width: 30%;
            } 
        }
        >.groupemenu__textes {
            width: calc(100% - 100px);    
        }
        >.groupemenu__prix{
            border-bottom-right-radius: 0px; 
            border-top-right-radius: 0px;
        }
    }
    &__textes{
        width: calc(100% - 50px);
        border-bottom-left-radius: 20px; 
        border-top-left-radius: 20px;
        background-color: $couleurBlanche;
        transition: 200ms;
        @media #{$interdesktop}{
            padding-top: 15px;
        }
        @media #{$lgdesktop}{
            padding-top: 25px;
        }               
    }
    &__prix{
        display: flex;
        align-items: last baseline;
        padding-bottom: 18px;
        background-color: $couleurBlanche;
        border-bottom-right-radius: 20px; 
        border-top-right-radius: 20px;
        width: 80px;
        z-index: 1;
        font-size: 12px;
        font-weight: bold;
        @media #{$iphone}{
            font-size: 15px;
            padding-bottom: 11px; 
        }
        @media #{$mobile}{
            font-size: 15px;
            padding-bottom: 11px;
        }
        @media #{$tablette}{
            padding-bottom: 20px;
            font-size: 22px;
        }
        @media #{$desktop}{
            font-size: 22px;
        }
        @media #{$interdesktop}, #{$lgdesktop}{
            padding-bottom: 10px;
            font-size: 25px;
        }
    }
    &__checkbox{
        display: flex;
        align-items: center;
        justify-content: center;        
        width: 0px;
	    background-color: $tertiaire;
        font-size: 25px;
        color:$couleurBlanche;  
        border-bottom-right-radius: 20px; 
        border-top-right-radius: 20px;    
        transition: 300ms ease-in-out; 
        @media #{$desktop}{
            font-size: 40px;
        } 
        @media #{$interdesktop}, #{$lgdesktop}{
            font-size: 40px;
        }      
    }
}

.checkfas{
    display: flex;
    margin-left: -25px; 
    transform: rotate(-180deg);
    transition: 1000ms ease-in-out;
    @media #{$desktop}, #{$interdesktop}, #{$lgdesktop}{
        margin-left: -45px;
    }         
}
.groupemenu:hover .checkfas{
    transform: rotate(0deg);
    transition: 500ms ease-in;
    margin-left:0%;
}

.groupemenu__textes--title,
.groupemenu__textes--description{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 10px;    
    margin-top: 0%;
    margin-bottom: 0%;
    font-size:12px;
    padding-top: 13px;
    @media #{$iphone}{        
        font-size: 15px;
        padding-top: 15px;
    }
    @media #{$mobile}{
        font-size: 16px;
    }
    @media #{$tablette}{
        margin-left: 20px;
        padding-top: 10px;
        font-size: 18px;
    }
    @media #{$desktop}{
        margin-left: 20px;
        padding-top: 5px;
        font-size: 22px;
    }
    @media #{$interdesktop}, #{$lgdesktop}{
        margin-left: 20px;
        padding-top: 4px;
        font-size: 25px;
    }
}