.alafrancaise{
    width: 100%;
}

.cardalafrancaise{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardentete{
    width:100%;
    &__img{
        width:100%;
        height: 16rem;
        object-fit: cover;
    }
}

.main{
    display: flex;
    flex-direction: column;
    background-color: $grise;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -15%;
    &__entete{
        display: flex;
        width: 100%;
        &--title{
            font-family: $Shrikhand;
            margin-top: -7%;
            padding-top: 15%;
            padding-left: 4%;
            font-size: 25px;
            width: 80%;
        }
        &--icons{
            font-size: 25px;
            margin-top: 9%;
        }
    }
}

.menu{
    margin-bottom: 10%;
    &__title{
        margin-left: 3%;
    }
    &__border{
        border:3px solid $tertiaire;
        width: 12%;
        margin-left: 3%;
    }
    &__content{
        background-color: $couleurBlanche;
        border-radius: 20px;
        width: 94%;
        margin-left: 3%;
        &--title{
            font-size: 18px;
            font-weight: bolder;
            margin-left: 8%;
            padding-top: 5%;
        }
        &--textes{
            display: flex;
            justify-content: space-between;
            margin-top: -8%;
            
        }
        &--texte{
            margin-left: 8%;
            font-family: $roboto;
        }
        &--prix{
            margin-right: 7%;
            font-weight: bold;
        }
    }
}

.btn{
    @include btnExploration ;
    width: 60%;
    margin-left: 20%;
}