@mixin iphone-only{
    @media  #{$iphone}{ 
        display: flex;
        width: 100%;       
    }    
}

@mixin btnExploration {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    font-size: 16px;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 15%;
    padding: 5%;
    background-image: linear-gradient(to bottom, $secondaire, $violet);  
    border-radius: 55px;
    border: none;
    color: white;
    &:hover{
        background-image: linear-gradient(to bottom, $secondaire 60%, lighten($violet, 20%)); 
    }
    @media #{$mobile} {
        font-size: 18px;        
    }  
    @media #{$tablette}{
        font-size: 29px;
        padding: 4%;
    }
    @media #{$desktop}{
        font-size: 35px;
        padding: 4%;
    }  
    @media #{$interdesktop}{
        width: 50%;
        margin-left: 25%;
        font-size: 35px;
        padding: 3%;
        margin-top: 2%;
        margin-bottom: 9%;
    }
    @media #{$lgdesktop}{
        width: 50%;
        margin-left: 25%;
        font-size: 35px;
        padding: 2.5%;
        margin-top: 3%;
        margin-bottom: 8%;
    }  
}

@mixin btnfonctionnement {
    display: flex;
        width: 90%;
        border-radius: 20px;
        background-color: $grise;
        margin-left: 5%;
        border: none;
        margin-bottom: 10%;
        @media #{$desktop}{
            padding-left: 12%;
        }
        @media #{$interdesktop}, #{$lgdesktop}{
            display: flex;
            width: 70%;
            margin: 2%;
            margin-bottom: 5%;
        }
}

@mixin fonctionnementIcon {
    width: 10%;
    margin-top: 2%;
    font-size: 22px;
    margin-top: 7%;
    margin-right: 2%;
    margin-right: 5%;
    margin-left: 5%;        
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

