$primaire:#9356DC;
$secondaire:#ff79da;
$tertiaire:#99E2D0;
$beige:rgb(230, 160, 85);
$grise:rgb(215, 215, 210);
$voiletrosatre:rgb(199, 60, 214);


/*Responsive*/
$iphone:"only screen and (max-width:375px)";
$mobile:"only screen and (min-width:376px) and (max-width:599px)";
$tablette:"only screen (min-width:600px) and (max-width:900px)";
$dextop:"only screen and (min-width:901px)";