$primaire:#9356DC;
$secondaire:#ff79da;
$tertiaire:#99E2D0;
$beige:rgb(230, 160, 85);
$grise:#f7f7f7;
$voiletrosatre:rgb(199, 60, 214);
$couleurNoire:black;
$couleurBlanche:white;
$roboto:'Roboto', sans-serif;
$Shrikhand: 'Shrikhand', cursive;


/*Responsive*/
$iphone:"only screen and (max-width:375px)";
$mobile:"only screen and (min-width:376px) and (max-width:599px)";
$tablette:"only screen and (min-width:600px) and (max-width:900px)";
$desktop:"only screen and (min-width:901px) and (max-width:1099px)";
$interdesktop:"only screen and (min-width:1100px) and (max-width:1400px)";
$lgdesktop:"only screen and (min-width:1401px)";