footer{
    @include flex-column;
    background-color: lighten($couleurNoire, 30);
    font-family: $roboto;
}

.footer{    
    &__title{
        font-family: 'Shrikhand', cursive;
        color: $couleurBlanche;
        font-size: 25px;
        margin-left: 5%;
        margin-bottom: 0%;
        @media #{$mobile}{
            font-size: 30px;
        }
        @media #{$tablette}{
            font-size: 35px;
        }
        @media #{$desktop} {
            font-size: 40px;
        }
        @media #{$interdesktop}, #{$lgdesktop} {
            font-size: 60px;
        }
    }

    &__content{
        display: flex;
        margin-left: 5%; 
        &--textes{
            color: $couleurBlanche;
            font-size: 18px;
            @media #{$mobile}{
                font-size: 20px;
            }
            @media #{$tablette}{
                font-size: 25px;
            }
            @media #{$desktop} {
                font-size: 2rem;
            }
            @media #{$interdesktop},#{$lgdesktop}{
                font-size: 30px;
            }
        } 
        &--icons{
            display: flex;
            font-size: 15px;
            margin-top: 6%;
            margin-right: 2%;
            color: $couleurBlanche;
            @media #{$mobile}{
                font-size: 20px;
                margin-top: 5.5%;
            }
            @media #{$tablette}{
                font-size: 2rem;
                margin-top: 3%;
            }
            @media #{$desktop} {
                font-size: 2rem;
                margin-top: 4%;
            }
            @media #{$interdesktop},#{$lgdesktop}{
                font-size: 30px;
                margin-top: 3%;
            }
        }
       
    }

}

a:link{
    text-decoration: none;
}

.footertextes__menu{
    font-weight: bold;
}