.entete{
    display: flex;
    width: 100%;
    margin-bottom: 7%;
    margin-top: 5%;
    @media #{$mobile}{
        width: 70%;
        margin-left: 15%;
    }
    @media #{$tablette}{
        margin-left: 6%;
    }
    @media #{$desktop}{
        margin-left: 8%;
    }
    @media #{$interdesktop} {
        margin-left: 10%;
    }
    @media #{$lgdesktop} {
        margin-left: 15%;
    }
   
        &__logo{
            display: flex;
            width: 60%;
            margin-left: 20%;
            @media #{$mobile}{ 
                width: 80%;
                margin-left: 10%;               
            }
            @media #{$tablette}{
                width: 100%;
            }
            @media #{$desktop} {
                width: 100%;
                margin-left: 3%;
            }
            @media #{$interdesktop}{
                width: 100%;
            }
            @media #{$lgdesktop}{
                width: 100%;
                margin-left: 30%;
            }
        }
        &__icon{
            font-size: 25px;
            margin-left: 6%;
            margin-right: -5%;
            margin-top: 1%;
            color: $couleurNoire;
            @media #{$mobile}{
                margin-top: 3%;
            }
            @media #{$tablette}{
                margin-top: 4%;
                font-size: 32px;
                margin-left: 0%;
            }
            @media #{$desktop}{
                font-size: 25px;
                margin-left: 6%;
                margin-right: 5%;
                margin-top: 3%;
            }
            @media #{$interdesktop},#{$lgdesktop} {
                font-size: 35px;
                margin-left: 6%;
                margin-right: 5%;
                margin-top: 2%;
            }
            
        }
}
