.entete{
    display: flex;
    margin-bottom: 7%;
    margin-top: 5%;
    @media #{$mobile}{
        width: 100%;
    } 
    @media #{$tablette}{
        margin-left: 6%;
    }
    @media #{$desktop}{
        display: flex;
        justify-content: center;
    }
    @media #{$interdesktop} {
        display: flex;
        justify-content: center;
    }
    @media #{$lgdesktop} {
        display: flex;
        justify-content: center;
    }
   
        &__logo{
            display: flex;
            width: 60%;
            margin-left: 20%;
            @media #{$mobile}{ 
                width: 60%;               
            }
            @media #{$tablette}{
                width: 100%;
            }
            @media #{$desktop} {
                width: 100%;
                margin-left: 1%;
            }
            @media #{$interdesktop}{
                width: 100%;
                margin-left: 1%;
            }
            @media #{$lgdesktop}{
                width: 100%;
                margin-left: 0%;
            }
        }
        &__icon{
            font-size: 21px;
            margin-left: 5%;
            margin-top: 2%;
            color: $couleurNoire;
            @media #{$mobile}{
                margin-top: 3%;
            }
            @media #{$tablette}{
                margin-top: 4%;
                font-size: 32px;
                margin-left: 0%;
            }
            @media #{$desktop}{
                font-size: 25px;
                margin-top: 3%;
            }
            @media #{$interdesktop},#{$lgdesktop} {
                font-size: 35px;
                margin-left: 0%;
                margin-right: 5%;
                margin-top: 2%;
            }
            @media #{$lgdesktop} {
                font-size: 35px;
                margin-left: 0%;
                margin-right: 5%;
                margin-top: 1.5%;
            }
            
        }
}
